@font-face {
  font-family: "CabinetGrotesk";
  src: url("./assets/CabinetGrotesk-Bold.otf");
}
@font-face {
  font-family: "Movatif";
  src: url("./assets/Movatif\ W00\ ExtraLight.otf");
}
@font-face {
  font-family: "Coolvetica";
  src: url("./assets/CoolveticaEl-Regular.ttf");
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
