@font-face {
    font-family: "Movatif";
    src: url('../assets/Movatif\ W00\ ExtraLight.otf');
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 10px 20px;
}
   
.navbar__logo {
    display: flex;
    align-items: center;

    img{
        width: 150px;
        height: auto;
    }
}
   
.navbar__list {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
   
.navbar__item {
    padding: 0 10px;
    margin-left: 20px;
}
   
.navbar__link {
    text-decoration: none;
    color: #000;
    font-size: 2vh;
    font-weight: bold;
    letter-spacing: 1.5px;
    font-family: "Movatif";

    &:hover{
        color: #313bac;
    }
}
.login{
    font-family: "Movatif";
    font-size: 2vh;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 6vw;
    padding: 5px;
    border-radius: 20px;
    background-color: #fff;

    img{
        width: 1.7vw;
        padding-left: 10px; 
    }
}